body {
  background: aqua;
}

.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 420px;
  width: 400px;
  align-items: first baseline;
  margin: auto;
  margin-top: 50px;
  padding-top: 10px;
  padding-left: 20px;
  border-radius: 10px;
}

.box {
  border: none;
  background-color: #dcdcdc;
  width: 93%;
  height: 6%;
  margin-top: -10px;
}
.alamat {
  border: none;
  background-color: #dcdcdc;
  width: 93%;
  height: 35%;
  margin-top: -10px;
}

.button {
  background-color: aqua;
  margin-top: 20px;
  font-size: 17px;
}
